.toggle-button {
     position: fixed; /* Sticks the button to the viewport */
     top: 20px;       /* Distance from the top of the viewport */
     right: 20px;     /* Distance from the right of the viewport */
     z-index: 1000;   /* Ensures the button stays above other elements */
     padding: 10px 20px;
     background-color: #282c34;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}

/* Global styles for themes */
body.light {
     background-color: #0cffbb;
     color: #000000;
}
   
body.dark {
     background-color: #100D3B;
     color: #ffffff;
}
   