body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #100D3B;
    color: #FFFFFF;
}

.logo {
    height: 150px;
    /* Adjust the value as needed */
    width: 150px;
    /* Adjust the value as needed */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.nav-link {
    color: #FFFFFF;
    /* Initial color */
    text-decoration: none;
    /* Remove underline */
    transition: color 0.3s, transform 0.3s;
    /* Smooth transition for hover effect */
}

.nav-link:hover {
    color: #0CFFBB;
    /* Change color on hover */
    transform: scale(1.1);
    /* Slightly increase size on hover */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header img {
    width: 100px;
}

nav a {
    color: #FFFFFF;
    margin: 0 15px;
    text-decoration: none;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}

.btn-green {
    background-color: #0CFFBB;
    border: 2px solid #ffffff;
}

.btn-blue {
    background-color: #00FFFF;
    border: 2px solid #00FFFF;
}

.content {
    text-align: left;
    margin: 40px 0;
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.card {
    background-color: #FFFFFF;
    color: #000000;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    padding: 10px 0;
    margin: 0;
}

.newsletter {
    text-align: left;
    margin: 40px 0;
}

.newsletter input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: none;
}

.content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-row .text {
    width: 50%;
}

.content-row .image {
    width: 45%;
}

.button-container .btn {
    margin-right: 10px;
    /* Adjust the value as needed */
}

.icon-size {
    font-size: 32px;
    transition: color 0.3s, transform 0.3s;
    /* Smooth transition for hover effect */
}

.icon-size:hover {
    color: #0CFFBB;
    /* Change color on hover */
    transform: scale(1.2);
    /* Slightly increase size on hover */
}

footer {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #FFFFFF;
}

footer a {
    color: #FFFFFF;
    margin: 0 10px;
    text-decoration: none;
}

footer p {
    margin: 10px 0;
}

.text-hex {
    color: #0CFFBB;
    
}

/* Base button styling */
.custom-button {
    border: 2px solid #0CFFBB;
    color: #0CFFBB;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

/* Hover effect */
.custom-button:hover {
    background-color: #0CFFBB;
    color: white;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #0CFFBB;
    }
}